<!-- Mantiene la navbar y el contenido -->
<header class="custom-navbar">
  <a href="#" class="logo"><i class="ri-verified-badge-line"></i><span>EVALUACIÓN</span></a>
  <ul class="navbar">
    <li><a href="#" class="active">INICIO</a></li>
    <li><a href="https://ejemplomt1.netlify.app/">EJEMPLO 1</a></li>
    <li><a href="https://ejemplomt2.netlify.app/">EJEMPLO 2</a></li>
    <li><a href="https://ejemplomt3.netlify.app/">EJEMPLO 3</a></li>
    <li><a href="https://ejemplomt4.netlify.app/">EJEMPLO 4</a></li>
    <li><a href="https://ejemplomt5.netlify.app/">EJEMPLO 5</a></li>
    <li><a href="https://ejerciciomt.netlify.app/">EJERCICIO</a></li>
  </ul>
  <div class="main">
    <div class="bx bx-menu" id="menu-icon"></div>
  </div>
</header>

<main>
  <div style="text-align: center;">
    <h1>Juego de Dados</h1>
    <app-dado [valor]="valor1"></app-dado>
    <app-dado [valor]="valor2"></app-dado>
    <app-dado [valor]="valor3"></app-dado>
    <hr />
    <button type="button" class="btn btn-primary" (click)="tirarDados()">Jugar</button>
    <hr />
    <p>{{ resultado }}</p>
  </div>
</main>

<!-- 🚀 Agrega esto al final para evitar la advertencia -->
<router-outlet></router-outlet>
